<html>
    <head>
        <title>Notes</title>
    </head>
    <body>
        <h1>Your Notes</h1>
        <form method="POST">
            {{ form.media }}  
            {{ form.as_p }}  
            <input type="submit" name="note_text" id="id_new_note" placeholder="Enter a note" />
            {% csrf_token %}

        </form>
        <p>============</p>
<!--         <form method="POST">
            {% csrf_token %}
              
        </form> -->
        
        <table id="id_list_table">
            <h3> {{ notebooks.title }} </h3>

            {% for note in notes %}
            {% url note as note_url %}
            <tr><td><a href="{{ note_url }}/notepad/note/{{note.title}}/{{note.slug}}/"> {{ forloop.counter }}: {{ note.text }} </a></td></tr>
            {% endfor %}
        </table>
    </body>
</html>